---
import Layout from "../layouts/Layout.astro";
import TheNavbar from "../components/TheNavbar.astro";
import HeroSection from "../components/HeroSection.astro";
import GesturesSection from "../components/GesturesSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import PerformanceSection from "../components/PerformanceSection.astro";
import PrivacySection from "../components/PrivacySection.astro";
import DownloadSection from "../components/DownloadSection.astro";
import TheFooter from "../components/TheFooter.astro";
---

<Layout>
  <TheNavbar />
  <main id="main-content">
    <HeroSection />
    <GesturesSection />
    <HowItWorksSection />
    <PerformanceSection />
    <PrivacySection />
    <DownloadSection />
  </main>
  <TheFooter />
</Layout>
